{
    "presets": [
        [
            "es2017",
            {
                "modules": false
            }
        ],
        "stage-3"
    ],
    "plugins": [
        "transform-object-rest-spread"
    ]
}